backend/.vs/ExcelAiInsights/config/applicationhost.config
backend/.vs/ExcelAiInsights/CopilotIndices/17.14.1347.20289/CodeChunks.db
backend/.vs/ExcelAiInsights/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
backend/.vs/ExcelAiInsights/CopilotIndices/17.14.1347.20289/CodeChunks.db-wal
backend/.vs/ExcelAiInsights/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
backend/.vs/ExcelAiInsights/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-shm
backend/.vs/ExcelAiInsights/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-wal
backend/.vs/ExcelAiInsights/DesignTimeBuild/.dtbcache.v2
backend/.vs/ExcelAiInsights/FileContentIndex/1a9eb1c0-be08-4662-89d9-f9a8f39633c9.vsidx
backend/.vs/ExcelAiInsights/FileContentIndex/461acb38-b0c9-406a-a097-5e10c9adedce.vsidx
backend/.vs/ExcelAiInsights/FileContentIndex/70b8820f-2dd7-4fd9-b7f2-efb69ae45f88.vsidx
backend/.vs/ExcelAiInsights/FileContentIndex/797693c2-d01e-449c-98f7-144700e26dcc.vsidx
backend/.vs/ExcelAiInsights/FileContentIndex/a22d5571-226d-4c02-b7b6-9e95051dd94f.vsidx
backend/.vs/ExcelAiInsights/v17/.suo
backend/.vs/ExcelAiInsights/v17/DocumentLayout.backup.json
backend/.vs/ExcelAiInsights/v17/DocumentLayout.json
backend/src/ExcelAiInsights.Api/ExcelAiInsights.Api.csproj.user
backend/src/ExcelAiInsights.Api/App_Data/uploads/715fba968b932c8faa15cc7c49e388ea.xlsx
backend/src/ExcelAiInsights.Api/App_Data/uploads/a9ba885899465a5a40c0d6e0e78645aa.xlsx
backend/src/ExcelAiInsights.Api/App_Data/uploads/f6f2fcb511e1025217f083ac88793f22.xlsx
backend/src/ExcelAiInsights.Api/obj/ExcelAiInsights.Api.csproj.nuget.g.props
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/ApiEndpoints.json
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/ExcelAiInsights.Api.AssemblyInfo.cs
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/ExcelAiInsights.Api.AssemblyInfoInputs.cache
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/ExcelAiInsights.Api.csproj.AssemblyReference.cache
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/ExcelAiInsights.Api.csproj.BuildWithSkipAnalyzers
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/rpswa.dswa.cache.json
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/staticwebassets.removed.txt
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/EndpointInfo/ExcelAiInsights.Api.json
backend/src/ExcelAiInsights.Api/obj/Debug/net9.0/EndpointInfo/ExcelAiInsights.Api.OpenApiFiles.cache
backend/src/ExcelAiInsights.Application/obj/Debug/net9.0/ExcelAiInsights.Application.csproj.BuildWithSkipAnalyzers
backend/src/ExcelAiInsights.Domain/obj/Debug/net9.0/ExcelAiInsights.Domain.csproj.BuildWithSkipAnalyzers
backend/src/ExcelAiInsights.Infrastructure/obj/Debug/net9.0/ExcelAiInsights.Infrastructure.csproj.BuildWithSkipAnalyzers
